body {
    margin: auto;
    width: 600px;
    font-family: Arial;
}

.control-group {
    padding: 30px 50px;
}

form, input {
    border: solid 1px;
    border-color:gray;
    border-radius: 5px;
    width: 100%;
}

.footer {
    padding: 30px 0;
}

#calculate {
    text-align: center;
}